# -------------------------
# DEPENDENCIES & BUILD
# -------------------------
node_modules/
.cache/
.tmp/
bun.lock

# -------------------------
# LOGS & DEBUG
# -------------------------
logs/
*.log

# -------------------------
# MISC
# -------------------------
*.tgz
*.gz
*.zip
*.tar

# -------------------------
# TOOLS / BINARIES
# -------------------------
*.jar
bfg.jar